<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Wachtwoord resetten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<form>
  <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"  name="email" type="text" required></ion-input>

        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button class="color" type="submit"  (click)="resetPassword()" expand="block">Verzenden</ion-button>
          </ion-col>
        </ion-row>



  </ion-col>
</form>
