.color {
  background-color: #1DA1F2;
}
.ion-margin-vertical {
  background-color: #1DA1F2;
}
.ion-text {
  color: #ffffff;

}

ion-slide {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
ion-slides {
  height: 100%;
}
ion-item {
  margin: 5px;
}
.textWachtwoord {
  font-size: 13px;
}
