<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>

    <ion-searchbar class="heightSearchbar" placeholder="zoek"></ion-searchbar>


    <ion-select class="ion-padding-horizontal" interface="popover"
                slot='end' [(ngModel)]='selectedTopic'>

      <ion-select-option *ngFor='let t of topics' [value]="t">
        {{t}}
      </ion-select-option>
    </ion-select>






  </ion-toolbar>
</ion-header>

<ion-content class="bg-light" [fullscreen]="true">
  <div class="card-thumbnail" [style.backgroundImage]="'url(assets/images/Gamer.jpg)'">
    <div class="card-caption">
      <div class="title">
        Gaming
      </div>
    </div>
  </div>










  <ion-card *ngFor="let article of data.articles">
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-header>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     {{article.content}}
    </ion-card-content>
  </ion-card>

</ion-content>
