<ion-toolbar>
<ion-buttons slot="start">
  <ion-menu-button>

  </ion-menu-button>
</ion-buttons>
  </ion-toolbar>

<ion-grid>
  <ion-row>
    <ion-col>

      <ion-card color="light" class="ion-text-center">
        <div class="img-wrapper">
          <ion-avatar slot="start" class="avatar">
            <img src="https://www.gamasutra.com/db_area/images/news/2018/Jun/320213/supermario64thumb1.jpg" alt="foto">

          </ion-avatar>

        </div>
        <ion-card-content class="ion-text-center">
          <h2>Drieske</h2>
          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <ion-icon name="location-outline" color="medium">
              </ion-icon>
              <p>België, Antwerpen, Mol</p>
            </div>
          </ion-text>
          <ion-icon name="create-outline"></ion-icon>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>


</ion-content>
