<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <ion-button (click)="goToEditPage()" slot="end">
      <ion-icon name="pencil-outline" ></ion-icon>
    </ion-button>
      <ion-avatar slot="start" class="avatar">
        <img src="https://www.gamasutra.com/db_area/images/news/2018/Jun/320213/supermario64thumb1.jpg" alt="foto">

      </ion-avatar>
    <h2 class="ion-text-center">Username: Drieske</h2>
      <h2 class="ion-text-center">Email: Drieske@gmail.com</h2>
      <h2 class="ion-text-center">PhoneNumber: 047969372</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
